.login-form {
  &__field {
    display: flex;
  }
  &__username {
    display: flex;
  }
  &__password {
    display: flex;
  }
  &__footer {
    display: flex;
  }
  &__button {
    display: flex;
  }
}
