@import './variables.scss';

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

:root {
  font-size: 10px;

  @media (max-width: $firstBreakPoint) {
    font-size: 8px;
  }
}

.app {
  height: 100vh;
}

.container {
  max-width: $containerSize;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
