@import './variables.scss';

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

:root {
  font-size: 10px;

  @media (max-width: $firstBreakPoint) {
    font-size: 8px;
  }
}

.app {
  height: 100vh;
}

.container {
  max-width: $containerSize;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@mixin card() {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  flex-basis: calc(25% - 2rem);
  width: 100%;
  margin-bottom: 5rem;
  height: 26rem;
  color: black;
  position: relative;
  perspective: 1000px;
  border-radius: 0 0 15px 15px;

  @media (max-width: $secondBreakPoint) {
    flex-basis: calc(100% / 3 - 2rem);
  }

  @media (max-width: $thirdBreakPoint) {
    flex-basis: calc(50% - 2rem);
  }

  &:hover {
    cursor: pointer;

    .card__image {
      transform: scale(1.1);
    }
  }

  &__image-wrapper {
    display: flex;
    flex-basis: 100%;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    transition: all 0.5s;
  }

  &__image {
    transition: all 0.4s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__footer {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    background: $trainModeColor;
    font-family: $cardFont;
    flex-basis: 20%;
    border-radius: 0 0 15px 15px;
    font-size: 2rem;
    transition: background-color 1s;
  }
}

@mixin card-list() {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin game-button() {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  transition: transform 0.1s;
  border: 5px solid $additionalColor;
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.25));
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  &:active {
    transform: translateY(1rem);
  }
}
