@import '../../scss/variables';

.pop-up {
  height: 100vh;
  width: 100vw;
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-out;

  &_hidden {
    transform: scale(0);
  }

  &_visible {
    transform: scale(1);
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    font-family: $mainFont;
    background: white;
    box-sizing: border-box;
    width: 60rem;
    height: 40rem;
    border-radius: 50px;
  }
}
