@import '../../../scss/variables.scss';
@import '../../../scss/index.scss';

.new-card {
  @include admin-card();
  align-items: center;
  justify-content: center;
  border: 3px dashed $adminColor;

  &__button {
    font-size: 10rem;
    border-radius: 50%;
    font-family: $switchFont;
    color: $additionalAdminColor;
    border: 3px solid $additionalAdminColor;
    background: transparent;
    padding: 0 3rem;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}
