.stars {
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: 4rem;
}

.star {
  width: 4rem;
  height: 4rem;

  &_mistake {
    background: center / cover url('/icons/star-mistake.svg');
  }

  &_guess {
    order: -1;
    background: center / cover url('/icons/star-guess.svg');
  }
}
