@import '../../../scss/variables.scss';
@import '../../../scss/index.scss';

.admin-category-card {
  @include admin-card();

  &__amount {
    margin-bottom: 1.5rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  &__close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 2.5rem;
    background: transparent;
    border: none;
    transition: transform 0.1s linear;

    &:hover {
      transform: scale(1.3);
      cursor: pointer;
    }
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  &__update-button,
  &__add-word-button {
    @include admin-button();
  }

  &__link {
    text-decoration: none;
    color: black;
  }
}
